body, html {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    color: #FFF;
    background: #f953c6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    padding: 2rem;
}

h1 {
    text-align: center;
}

/* .difficulty {

} */

.stars {
    font-size: 2rem;
    display: inline;
}

.answer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.answer {
    border-radius: 4px;
    background-color: #FFF;
    color: #333;
    flex: 1 1 100%;
    font-size: 1.5em;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    text-align: left;
}

.answer--selected {
    background-color: #ff008f;
    color: white;
    font-weight: 600;
}